.passed{
    margin: 5px !important;
    background-color: lightgreen !important;
    color: black;
}
.fail{
    margin: 5px !important;
    background-color: lightcoral !important;
    color: black;
}
table{
    table-layout: fixed !important;
    width: 100%;
}
td{
    word-wrap:break-word;
    margin-left: 3px !important;
    
}
tr{
    margin-top: 10px !important;
}
.panel{
    background-color: inherit;
    color: black !important;
}
.parrent-container{
    width: 85%;
    margin: auto;
}
.function-button-container{
    margin-bottom: 15px;
}
.isVisiable{
    float: left;
display: block;

}
.isUnVisiable{
    float: left;
display: none;
}
.convert-status{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.send-request-status{
    font-size: 15;
    color: red;
    margin-bottom: 10px;
}
.button-clear{
    margin-left: 10px;
}
.pass-result{
    margin-right: 10px;
    margin-bottom: 10px;
}
.fail-result{
    margin-bottom: 10px;
}
pre{
    max-width: 400px;
    word-break: break-all !important;
}